<div class="d-flex flex-column align-items-center">
  <form action="/" method="GET">
    <div class="dropdown">
      <select class="form-select form-select-sm" aria-label="select sort" role="button" name="categoryId"
        onchange="this.form.submit()">
        <option value="" selected disabled hidden>Choose here</option>
        <option value="">全選</option>
        {{#each categories}}
        {{!-- 為了去取外層的變數資料，所以使用 ../ --}}
        <option {{#ifEquals @index ../selectedCategoryId}}selected{{/ifEquals}} value="{{this._id}}">{{this.name}}
        </option>
        {{/each}}
      </select>
    </div>
  </form>

  <p>總金額：{{totalAmount}}</p>
</div>

<table class="table table-borderlesss table-striped">
  <tbody>
    {{#each record_category}}
    <tr>
      <th scope="row"><i class="fa-solid {{this.icon}} fa-5x"></i></th>
      <td class="col-md-4">
        <div class="col-md-9">
          <div class="d-flex">
            <h5 class="mb-1">{{this.name}}</h5>
          </div>
          <p>{{prettifyDate this.date "YYYY/MM/DD"}}</p>
          </p>
        </div>
      </td>
      <td class="col-md-4">
        <p>{{this.amount}}</p>
      </td>
      <td class="col-md-2">
        <a class="btn" href="./records/{{ this._id }}/edit">修改</a>
      </td>
      <td class="col-md-2">
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn" type="submit">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <a class="btn btn-primary" href="./records/new">Create</a>
</div>